<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg">
    
    <div class="container">
        <div class="d-flex justify-content-between mt-3">
            <a href="/logout"><button class="btn btn-success">signout</button></a>
        </div>
        <h2 class="text-center">Explore The World</h2>
    <div class="row">
        {{#each cardContents}}
        <div class="col-md-3 py-3">
            <div class="card shadow-lg" style="width: 18rem;">
                <img src="{{urlimg}}" class="card-img-top" alt="Card Image" style="height: 220px; width: 285px; overflow:hidden">
                <div class="card-body">
                    <h5 class="card-title text-center">{{title}}</h5>
                    <p class="card-text" style="text-align: justify;">{{text}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


